@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{

}
else
{
        <li class="nav-item">
            <div>
                <button class="nav-button" onclick="window.location.href='https://localhost:7057/Identity/Account/Register'">WORD LID!</button>
                <img src="~/images/account.png" onclick="window.location.href='https://localhost:7057/Identity/Account/Login'" alt="Logo" height="40" width="40">
            </div>
        </li>

}
</ul>


