@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>Victuz - De studievereniging voor ICT-studenten van Zuyd Hogeschool</h2>

<p>
    Bij Victuz, de studievereniging voor ICT-studenten van Zuyd Hogeschool, vinden we het belangrijk dat jouw privacy goed wordt beschermd. In deze privacyverklaring leggen we uit welke gegevens we verzamelen, hoe we deze gebruiken en hoe we jouw gegevens veilig houden.
</p>

<h2>1. Welke gegevens verzamelen wij?</h2>
<p>
    Wanneer je gebruik maakt van onze diensten, bijvoorbeeld bij het inschrijven voor activiteiten of evenementen, verzamelen wij de volgende gegevens:
</p>
<ul>
    <li><strong>Persoonlijke gegevens:</strong> Naam  en e-mailadres.</li>
    <li><strong>Inschrijfgegevens:</strong> Informatie over evenementen en activiteiten waarvoor je je inschrijft.</li>
    <li><strong>Betalingsinformatie:</strong> Gegevens die nodig zijn voor het verwerken van eventuele betalingen voor activiteiten.</li>
</ul>

<h2>2. Waarom verzamelen wij deze gegevens?</h2>
<p>
    Victuz gebruikt jouw gegevens om:
</p>
<ul>
    <li>Je te informeren over en in te schrijven voor activiteiten en evenementen.</li>
    <li>Contact met je op te nemen over wijzigingen of belangrijke mededelingen.</li>
    <li>Onze diensten te verbeteren en beter in te spelen op de behoeften van onze leden.</li>
</ul>

<h2>3. Delen wij jouw gegevens?</h2>
<p>
    Bij Victuz behandelen we jouw gegevens zorgvuldig en delen we deze niet met derden, tenzij dit nodig is voor het organiseren van evenementen (bijv. externe locaties of betaalproviders) of als we wettelijk verplicht zijn om bepaalde gegevens te delen.
</p>

<h2>4. Cookies</h2>
<p>
    Onze website maakt gebruik van cookies om jouw ervaring te verbeteren. Deze cookies helpen ons om te begrijpen welke informatie het meest relevant is voor onze leden en zorgen ervoor dat onze website goed functioneert. Je kunt cookies op elk moment uitschakelen via de instellingen van je browser.
</p>

<h2>5. Beveiliging van jouw gegevens</h2>
<p>
    Bij Victuz nemen we de beveiliging van jouw gegevens serieus. We hebben technische en organisatorische maatregelen getroffen om jouw persoonsgegevens te beschermen tegen verlies, misbruik en onbevoegde toegang.
</p>

<h2>6. Jouw rechten</h2>
<p>
    Je hebt het recht om jouw gegevens in te zien, te corrigeren of te laten verwijderen. Als je vragen hebt over de verwerking van jouw persoonsgegevens of gebruik wilt maken van je rechten, kun je contact met ons opnemen via e-mail.
</p>

<h2>7. Wijzigingen in deze privacyverklaring</h2>
<p>
    Victuz behoudt zich het recht voor om deze privacyverklaring op elk moment te wijzigen. Eventuele wijzigingen worden op onze website geplaatst. We raden je aan om deze verklaring regelmatig te controleren, zodat je op de hoogte bent van eventuele aanpassingen.
</p>

<p>
    Bedankt voor jouw vertrouwen in Victuz. We zien ernaar uit om samen met jou een waardevolle studentenervaring te creëren!
</p>