@{
    ViewData["Title"] = "Sponsoren";
}
<h1>Sponsoren</h1>

<h2>Wordt u ons sponsor?</h2>

<p>
    Bent u geïnteresseerd in een samenwerking met Victuz en wilt u bijdragen aan de groei en ontwikkeling van ICT-studenten? Neem gerust contact met ons op via e-mail voor meer informatie over sponsormogelijkheden. Wij staan open voor nieuwe samenwerkingen en kijken ernaar uit om samen met u een bijdrage te leveren aan de toekomst van de ICT-community.
</p>

<img src="~/images/Sponser.png" alt="Sponser" width="800" height="400"/>

