@{
    ViewData["Title"] = "WieZijnWij";
}
<h1>Wie zijn wij</h1>

<h2>Studievereniging Victuz - Voor en door ICT-studenten</h2>

<p>
    Victuz is de studievereniging voor en door ICT-studenten van Zuyd Hogeschool. Opgericht in het schooljaar 2023-2024, brengt Victuz studenten samen door middel van een breed scala aan activiteiten die bijdragen aan zowel de sociale als professionele ontwikkeling van onze leden.
</p>
<p>
    Onze missie is om een ondersteunend netwerk te bieden waarin studenten hun kennis kunnen verdiepen, nieuwe vaardigheden kunnen ontwikkelen en waardevolle contacten op kunnen doen in een ontspannen en stimulerende omgeving. Door evenementen zoals gastlezingen, workshops, bedrijfsbezoeken en sociale activiteiten te organiseren, versterken we niet alleen de onderlinge band tussen studenten, maar helpen we hen ook om zich voor te bereiden op een succesvolle toekomst in de ICT-sector.
</p>
<p>
    Bij Victuz geloven we dat een sterke gemeenschap van gelijkgestemde studenten en professionals een essentiële basis biedt voor een succesvolle leer- en werkervaring in de wereld van ICT.
</p>



